.Footer {
    padding-bottom: 20px;
    background-color: #344253;
    border-top: 1px solid gray
}

.Footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.Footer__container_image {
    text-align: center;
}

.Footer__container_image img {
    width: 248px;
}

.Footer__container p {
    margin-left: 15px;
    font-size: 20px;
    color: #fff;
}
@media(max-width: 500px) {
    .Footer__container {
        flex-direction: column;
    }
    .Footer__container p {
        margin-top: 20px;
    }
    .Footer__container_image img {
        width: 70%;
    }
    .Footer__container_image h3 {
        font-size: 20px;
    }
}