.Advantage {
    background-color: #344253;
    padding: 100px 0;
}

.Advantage__container {
    max-width: 1200px;
    margin: 0 auto;
}

.Advantage__container h3 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.Advantage__container_items {
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.Advantage__item {
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    >*:not(:first-child) {
        margin-top: 15px;
    }
}


.Advantage__image {
    height: 100%;
}



@media(max-width: 768px) {
    .Advantage__image {
        width: 400px;
        height: 604px !important;
    }
}

@media(max-width: 500px) {
    .Advantage__container_items {
        flex-direction: column-reverse;
    }

    .Advantage__image {
        width: 335px;
        height: 251px !important;
        margin-left: 0 !important;
    }

    .Advantage {
        padding: 100px 20px;
    }

    .Advantage__item {
        margin-top: 30px;
    }
}