.Address {
    padding: 100px 0 0 0;
}

.Address__container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.Address__container h3 {
    font-size: 30px;
}

.Address__container p {
    margin-top: 15px;
    font-size: 26px;
    font-weight: 200;
}

.Address__map {
    margin-top: 40px;
}

@media(max-width: 500px) {
    .Address__container {
        padding: 0 10px;
    }
    .Address__container p {
        margin-top: 15px;
        font-size: 20px;
        font-weight: 200;
    }
}

