.Social {
    padding: 100px 0;
    background-color: #3a4452;
}

.Social__container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Social__container h3 {
    color: #fff;
    max-width: 1000px;
    font-size: 30px;
    text-align: center;
}

.Social__container_btn {
    margin-top: 70px;
}

.Social__container_btn {
    display: flex;
}

.Social__container_btn a {
    border: 2px solid #fff;
    background-color: transparent;
    padding: 15px 30px;
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
    font-weight: 700;
    transition: 1s border, 1s color;
}

.Social__container_btn a:hover {
    border: 2px solid #ffd014;
    color: #ffd014;
}

.Contacts__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}

.Contacts__item_kadr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
}

.Contacts__item {
    color: #fff;
    display: flex;
    margin: 10px 0;
}

.Contacts__item p,
.Contacts__item_kadr p {
    margin-right: 10px;
    font-size: 16px;
}

.Contacts__item_kadr {
    color: #fff;
    font-size: 16px;
}

.Contacts__item a,
.Contacts__item_kadr a {
    margin-left: 10px;
    cursor: pointer;
    transition: 1s color;
    font-size: 16px;
    color: #ffd014;
    text-decoration: none;
}

.Contacts__item a:hover {
    color: #ffd014;
}

.Contacts__item img,
.Contacts__item_kadr img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    color: #fff;
}

@media(max-width: 500px) {
    .Contacts__items,
    .Contacts__item_kadr {
        justify-content: flex-start;
        align-items: start;
    }
    .Social {
        padding: 100px 2px;
        background-color: #3a4452;
    }

    .Social__container_btn a {
        border: 2px solid #fff;
        background-color: transparent;
        padding: 15px 30px;
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
        font-size: 20px;
        font-weight: 700;
        transition: 1s border, 1s color;
    }
    .Contacts__item p,
.Contacts__item_kadr p {
    margin-right: 10px;
    font-size: 16px;
    word-wrap: break-word; 
    max-width: 200px;
    overflow-wrap: break-word;
}

    .Contacts__item p {
        margin-right: 2px;
        font-size: 16px;
        max-width: 137px;
    }
    .Contacts__item_kadr p {
        margin-right: 2px;
        font-size: 16px;
    }
}