@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
}

.swiper-button-prev,
.swiper-button-next {
    color: #fff;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #666767;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

button {
    outline: none;
    border: none;
}

.scrollToTopButton {
    z-index: 100;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.scrollToTopButton img {
    right: 60px;
    width: 60px;
}

.subtitle {
    max-width: 150px;
    word-wrap: break-word;
}